.dm-sans-400 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.dm-sans-700 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.sanchez-regular {
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
}

.sanchez-regular-italic {
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: italic;
}
