/* A gay ass reset */

*,
*:before,
*:after {
    font-size: 1rem;
    box-sizing: border-box;
}

html {
    font-size: 100% / 16px;
}

body {
    margin: 0;
}

a[role="button"],
button {
    appearance: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

ul[role="menu"],
li[role="menuitem"],
ol[role="menuitem"] {
    list-style: none;
}

/* The actual styling */

*,
*:before,
*:after {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
}

/* Megan */

main {
    display: flex;
    flex-direction: column;
}

#main-header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: cornflowerblue;
    width: 100%;
    height: 96px;
}

#main-header nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
}

#main-header nav > * {
    flex-grow: 1;
    flex-shrink: 0;
}

#main-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
